<link rel="stylesheet" href="../css/config.css">

<div class="divMain" th:fragment="config" xmlns:th="http://www.w3.org/1999/xhtml">
    <form th:action="@{/enviar-dados}" method="post">
        <div class="divForm">
            <div class="divInputs">
                <label>Mudar Nome Do Arquivo</label>
                <input id="inputNomeArquivo" type="text" name="nomeString" placeholder="Digite algo aqui para mudar o nome do arquivo">
                <label>Mudar Caminho</label>
                <input id="inputCaminhoArquivo" type="text" name="caminhoString" placeholder="Digite algo aqui para mudar o caminho do arquivo">
            </div>
            <div class="divBtn">
                <button id="btnMudar" type="submit">Mudar</button>
            </div>
        </div>
    </form>
</div>
<script src="../js/config.js"></script>