<link rel="stylesheet" href="../css/config.css">

<div class="divMain" th:fragment="config" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="">
        <div class="divForm">
            <div class="divInputs">
                <label>Mudar Nome Do Arquivo</label>
                <input type="text">
                <label>Mudar Caminho</label>
                <input type="text">
            </div>
            <div class="divBtn">
                <button>Mudar</button>
            </div>
        </div>
    </form>
</div>