<div class="divForm"  xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="editarPage">
    <form th:action="@{/registro/editar/{id}(id=${registro.id})}" method="post">
        <div class="divInput">
            <label>Edição Diario <span th:text="${registro.id}"></span></label>
            <div class="divTituloData">
                <label>Titulo</label>
                <input type="hidden" name="_method" value="put" />
                <input type="text" id="inputTitulo" name="titulo" th:value="${registro.titulo}">
            </div>
            <input type="hidden" name="_method" value="put" />
            <textarea id="campoTexto" name="campoTexto" th:text="${registro.conteudo}"></textarea>
        </div>

        <div class="divBtn">
            <button type="submit">editar</button>
        </div>
    </form>
</div>
<script src="/js/editar.js"></script>