<link rel="stylesheet" href="../css/info.css">

<div class="divInfo" th:fragment="info" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="divH2">
        <h2>Ola! Obrigado por usar esse projeto!</h2>
    </div>

    <div class="divTexto">
        <p>Esse projeto foi pensado por mim, mais para servir como um diario virtual onde possa digitar e armazenar os desabafos no proprio computador.</p>
        <p>Não é preciso se preocupar com pessoas vendo suas informações do diario, pois esse site é 100% local e o arquivo de armazenamento estara na sua propria maquina.</p>
    </div>
</div>