<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuDiario.com</title>
    <link rel="stylesheet" href="../css/page.css">
    <link rel="stylesheet" href="../css/leituraPage.css">
</head>
<body>
    <header class="">
        <h1>Meu Diario</h1>
        
        <ul class="">
            <li class="">
                <a href="../index.html"><span>Escrever</span></a>
            </li>
            <li class="">
                <a href="leitura.html"><span>Ler</span></a>
            </li>
            <li class="">
                <a href="info.html"><span>Info</span></a>
            </li>

            <li class="">
                <a href="config.html"><span>Config</span></a>
            </li>

            <li class="">
                <button id="btnDarkMode"><img src="../icons/dark_mode_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt=""></button>
            </li>
        </ul>
    </header>
    <main class="">
        <div class="divForm">
            <form>
                <div class="divInput">
                    <label for="">DIARIO 01</label>
                    <textarea disabled id="campoTexto" placeholder="Digite aqui...">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor ornare dui a interdum. Vestibulum elementum suscipit lectus, ut bibendum diam varius dapibus. Aenean lacinia metus metus, non ultricies risus laoreet eu. Sed ac euismod sem, sit amet semper tortor. In maximus lorem nec ultricies gravida. Aenean sed mauris dignissim nisi interdum faucibus quis in nisl. Aliquam tempus velit leo, ac imperdiet diam sollicitudin eu. Vivamus id erat ac quam auctor eleifend eu et nunc. Nullam at augue aliquam, tristique ante nec, suscipit libero. Mauris interdum purus quis nisi elementum sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse lacinia metus eu massa finibus, nec pharetra leo sagittis. Vivamus auctor libero quis mauris ornare placerat.

Vestibulum est nulla, commodo ac gravida eget, euismod eu nulla. Donec ullamcorper egestas lobortis. Suspendisse sollicitudin enim sit amet ipsum fermentum ultricies. Duis quis diam tellus. Praesent scelerisque vehicula ante, et semper dui ullamcorper a. Suspendisse in nunc non elit ultrices facilisis viverra id nibh. Donec interdum euismod turpis, vel maximus metus.

Donec tincidunt eu enim a porttitor. Donec vestibulum nunc turpis, at egestas ipsum pretium vitae. Proin lobortis tellus libero. Aenean suscipit semper placerat. Nulla vitae sollicitudin eros, feugiat maximus ex. Nullam mollis ullamcorper diam id sagittis. Donec gravida ex sed tempus ornare. Pellentesque tellus purus, gravida sit amet purus fermentum, dignissim efficitur justo. Quisque sed finibus nisi. Vivamus molestie orci sed varius pulvinar. Aenean dignissim leo non libero congue porttitor. In hac habitasse platea dictumst. Etiam ac augue a turpis scelerisque imperdiet efficitur hendrerit dolor. Nullam non feugiat metus, molestie vestibulum nunc. Proin et leo felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Cras in purus quis justo consequat molestie eget at metus. Fusce justo ligula, malesuada feugiat velit id, auctor commodo lacus. Nam non lobortis ante. Nulla in diam dapibus, consequat nibh eu, pharetra augue. Nulla in tortor vitae mauris lacinia convallis. Sed mollis quam quis libero euismod, eget dapibus felis eleifend. Aenean mattis at lectus sed vehicula. Curabitur hendrerit, neque sed venenatis rhoncus, erat urna vulputate justo, luctus fringilla turpis enim sit amet velit. Sed dictum quis eros nec vestibulum. Suspendisse et consequat ante. Aenean suscipit turpis leo, at convallis lectus pulvinar sit amet. Quisque pellentesque condimentum diam quis eleifend. Cras ullamcorper massa sapien, ac laoreet lorem posuere quis.

Sed hendrerit est quis justo suscipit, eu euismod odio consectetur. Mauris tincidunt turpis a magna sollicitudin, non euismod ipsum tempus. Mauris venenatis viverra massa, sit amet ultrices justo tincidunt eu. Donec a tellus bibendum, tincidunt mauris quis, rutrum velit. Nullam consectetur imperdiet congue. Cras lobortis tortor ac nisi venenatis, vulputate pretium lectus consectetur. Donec et neque quis nunc posuere luctus. Nullam finibus, turpis at sodales dapibus, ex velit venenatis nisi, sed posuere nisl metus sit amet lorem. Donec auctor orci mattis erat vehicula pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sagittis augue ut sem bibendum, ullamcorper egestas elit sagittis. Vestibulum lobortis egestas rutrum. Nullam vel sem neque. Fusce convallis fermentum dui, lobortis dictum justo ultricies a. Quisque pretium justo sit amet nulla lacinia, a tincidunt dolor pulvinar.
                    </textarea>
                </div>
                
                <div class="divBtn">
                    <button>Voltar</button>
                </div>
            </form>
        </div>
    </main>
    <footer class="">

    </footer>
    <script src="../js/sistemaDarkMode.js"></script>
    <script src="../js/leituraPage.js" defer></script>
</body>
</html>