<link rel="stylesheet" href="../css/leitura.css">

<div th:fragment="leitura" xmlns:th="http://www.w3.org/1999/xhtml">
    <table>
        <thead>
        <tr>
            <th class="thNome">NOME</th>
            <th class="thData">DATA</th>
            <th class="thButton"></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="registro : ${registros}">
                <td class="tdTitulo" th:text="${registro.titulo}">Título</td>
                <td class="tdData" th:text="${registro.data}">Data</td>
                <td class="tdBtn">
                    <div class="divBtn">
                        <button class="btnLer" th:attr="id=${registro.id}">Ler</button>
                        <button>Editar</button>
                        <button>Excluir</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="../js/registrosBtns.js"></script>