<link rel="stylesheet" href="../css/leitura.css">

<div th:fragment="leitura" xmlns:th="http://www.w3.org/1999/xhtml">
    <table>
        <thead>
        <tr>
            <th class="thNome">NOME</th>
            <th class="thData">DATA</th>
            <th class="thButton"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="tdTitulo">diario</td>
            <td class="tdData">10-10-1000</td>
            <td class="tdBtn">
                <div class="divBtn">
                    <button>Ler</button>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tdTitulo">diario</td>
            <td class="tdData">10-10-1000</td>
            <td class="tdBtn">
                <div class="divBtn">
                    <button>Ler</button>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tdTitulo">diario</td>
            <td class="tdData">10-10-1000</td>
            <td class="tdBtn">
                <div class="divBtn">
                    <button>Ler</button>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tdTitulo">diario</td>
            <td class="tdData">10-10-1000</td>
            <td class="tdBtn">
                <div class="divBtn">
                    <button>Ler</button>
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>