<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuDiario.com</title>
    <link rel="stylesheet" href="../css/page.css">
    <link rel="stylesheet" href="../css/config.css">
</head>
<body>
    <header class="">
        <h1>Meu Diario</h1>
        
        <ul class="">
            <li class="">
                <a href="index.html"><span>Escrever</span></a>
            </li>
            <li class="">
                <a href="leitura.html"><span>Ler</span></a>
            </li>
            <li class="">
                <a href="info.html"><span>Info</span></a>
            </li>

            <li class="">
                <a href="config.html"><span>Config</span></a>
            </li>

            <li class="">
                <button id="btnDarkMode"><img src="../icons/dark_mode_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt=""></button>
            </li>
        </ul>
    </header>
    <main class="">
        <div class="divMain">
            <form action="">
                <div class="divForm">
                    <div class="divInputs">
                        <label>Mudar Nome Do Arquivo</label>
                        <input type="text">
                        <label>Mudar Caminho</label>
                        <input type="text">
                    </div>
                    <div class="divBtn">
                        <button>Mudar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer class="">

    </footer>
    <script src="../js/sistemaDarkMode.js"></script>
</body>
</html>