<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuDiario.com</title>
    <link rel="stylesheet" href="../css/page.css">
    <link rel="stylesheet" href="../css/escrever.css">
</head>
<body class="">
    <header th:include="fragments/cabecalho :: cabecalho"></header>
    <main id="conteudoPrincipal">
        <div th:replace="${conteudo}">

        </div>
    </main>
    <footer th:include="fragments/rodape :: rodape"></footer>
    <script src="../js/sistemaDarkMode.js"></script>
    <script src="../js/pageEscrita.js"></script>
</body>
</html>