<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuDiario.com</title>
    <link rel="stylesheet" href="../css/page.css">
    <link rel="stylesheet" href="../css/info.css">
</head>
<body>
    <header class="">
        <h1>Meu Diario</h1>
        
        <ul class="">
            <li class="">
                <a href="index.html"><span>Escrever</span></a>
            </li>
            <li class="">
                <a href="leitura.html"><span>Ler</span></a>
            </li>
            <li class="">
                <a href="info.html"><span>Info</span></a>
            </li>

            <li class="">
                <a href="config.html"><span>Config</span></a>
            </li>

            <li class="">
                <button id="btnDarkMode"><img src="../icons/dark_mode_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt=""></button>
            </li>
        </ul>
    </header>
    <main class="">
        <div class="divInfo">
            <div class="divH2">
                <h2>Ola! Obrigado por usar esse projeto!</h2>
            </div>

            <div class="divTexto">
                <p>Esse projeto foi pensado por mim, mais para servir como um diario virtual onde possa digitar e armazenar os desabafos no proprio computador.</p>
                <p>Não é preciso se preocupar com pessoas vendo suas informações do diario, pois esse site é 100% local e o arquivo de armazenamento estara na sua propria maquina.</p>
            </div>
        </div>
    </main>
    <footer class="">

    </footer>
    <script src="../js/sistemaDarkMode.js"></script>
</body>
</html>