<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuDiario.com</title>
    <link rel="stylesheet" href="../css/page.css">
    <link rel="stylesheet" href="../css/leitura.css">
</head>
<body>
    <header class="">
        <h1>Meu Diario</h1>
        
        <ul class="">
            <li class="">
                <a href="index.html"><span>Escrever</span></a>
            </li>
            <li class="">
                <a href="leitura.html"><span>Ler</span></a>
            </li>
            <li class="">
                <a href="info.html"><span>Info</span></a>
            </li>

            <li class="">
                <a href="config.html"><span>Config</span></a>
            </li>

            <li class="">
                <button id="btnDarkMode"><img src="../icons/dark_mode_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt=""></button>
            </li>
        </ul>
    </header>
    <main class="">
        <table>
            <thead>
              <tr>
                <th class="thNome">NOME</th>
                <th class="thData">DATA</th>
                <th class="thButton"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tdTitulo">diario</td>
                <td class="tdData">10-10-1000</td>
                <td class="tdBtn">
                    <div class="divBtn">
                        <button>Ler</button>
                        <button>Editar</button>
                        <button>Excluir</button>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="tdTitulo">diario</td>
                <td class="tdData">10-10-1000</td>
                <td class="tdBtn">
                    <div class="divBtn">
                        <button>Ler</button>
                        <button>Editar</button>
                        <button>Excluir</button>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="tdTitulo">diario</td>
                <td class="tdData">10-10-1000</td>
                <td class="tdBtn">
                    <div class="divBtn">
                        <button>Ler</button>
                        <button>Editar</button>
                        <button>Excluir</button>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="tdTitulo">diario</td>
                <td class="tdData">10-10-1000</td>
                <td class="tdBtn">
                    <div class="divBtn">
                        <button>Ler</button>
                        <button>Editar</button>
                        <button>Excluir</button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </main>
    <footer class="">

    </footer>
    <script src="../js/sistemaDarkMode.js"></script>
</body>
</html>