.divMain{
    width: 100%;
    height: 80vh;
    padding-top: 300px;
}

.divForm{
    width: 100%;
    min-height: 200px;
    border: solid 0.1px black;
    border-radius: 5px;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 155, 255);
}

.divInputs{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divInputs label{
    font-size: 1.5em;
    margin-top: 10px;
}

.divInputs input{
    border-radius: 5px;
    width: 500px;
    margin-top: 20px;
    font-size: 1.5em;
}

.divBtn{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}

.divBtn button{
    margin-right: 100px;
    width: 200px;
}

/* DarkMode */

.divForm.darkMode{
    border-top: solid 0.1px #e180ff;
    border-bottom: solid 0.1px #e180ff;
    background-color: #4d3353;
}

.divInputs label.darkMode{
    font-size: 1.5em;
    color: #ffff;
}

.divInputs input.darkMode{
    font-size: 1.5em;
    background-color: black;
    color: #ffff;
}