.divForm{
    width: 100%;
    min-height: 80vh;
    background-color: rgb(155, 155, 255);
}

.divInput{
    display: flex;
    flex-direction: column;
}

.divInput label{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: var(--cor-principal-white-mode);
}

.divTituloData{
    display: flex;
    flex-direction: column;
}

.divTituloData label{
    font-size: 18px;
    text-align: start;
    margin-left: 22px;
}

#inputTitulo{
    width: 300px;
    margin-left: 22px;
    margin-top: 10px;
}

.divRadio label{
    margin-left: 0;
}

.divRadio input{
    margin-left: 22px;
    margin-top: 10px;
}

.divDataManual{
    display: flex;
    flex-direction: column;
}

.divDataManual input{
    width: 100px;
    margin-left: 22px;
}

.divHoraEMinuto{
    display: flex;
    flex-direction: column;
}

.divHoraEMinuto input{
    width: 35px;
    margin-left: 22px;
}

#campoTexto{
    margin: 10px auto;
    width: 95%;
    min-height: 50px;
    padding: 8px;
    resize: none;
    box-sizing: border-box;
}

.divBtn{
    display: flex;
    justify-content: end;
    padding-right: 30px;
    padding-bottom: 10px;
}

/* DarkMode */

.divForm.darkMode{
    background-color: #4d3353;
}

.divInput.darkMode{
}

.divInput label.darkMode{
    font-size: 25px;
    font-weight: bold;
}

#inputTitulo.darkMode{
    background-color: black;
    color: #ffff;
}

.divTituloData label.darkMode{
    font-size: 18px;
}

#campoTexto.darkMode{
    background-color: black;
    color: #ffff;
}

/* universal */

.sumir{
    display: none;
}